@page
@model AccessDeniedModel
@{
    ViewData["Title"] = "Access Denied";
}

<h1 class="text-danger">Access Denied</h1>
<p class="text-danger">Aw snap! You do not have access to the requested resource!</p>

