@page
@model SampleAzureADAuthenticationWithOpenIdConnect.Pages.Group1Model
@{
    ViewData["Title"] = "Group1";
}

<h1>Group 1</h1>
<p>Only users in the <strong>Group 1</strong> security group will be able to see this.</p>

