@page
@model SampleAzureADAuthenticationWithOpenIdConnect.Pages.Group3Model
@{
    ViewData["Title"] = "Group3";
}

<h1>Group 3</h1>
<p>Only users in the <strong>Group 3</strong> security group will be able to see this.</p>

