@page
@model SampleAzureADAuthenticationWithAzureAd.Pages.Group2Model
@{
    ViewData["Title"] = "Group2";
}

<h1>Group 2</h1>
<p>Only users in the <strong>Group 2</strong> security group will be able to see this.</p>

